:root {
  --primary: #008DD2;
  --dark-primary: #003A6B;
  --secondary: #5663C1;
  --shadow-1: rgb(241, 241, 241);
  --border-1: rgb(242, 242, 242);
  --border-2: rgb(225, 225, 225);
}

a,
a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

i {
  cursor: pointer;
}

body {
  background-image: url('../images/p4.png');
}

.admin {
  background-color: white !important;
  height: 100vh;
  overflow: auto;
}

* {
  font-weight: 300;
}

.btn-dark-primary {
  background-color: var(--dark-primary) !important;
  color: white !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.l-bg-primary {
  background: var(--primary) !important;
  color: white
}

.l-bg-secondary {
  background-color: var(--secondary) !important;
}

.l-bg-primary *,
.l-bg-secondary * {
  color: white
}

.white-block {
  background-color: white;
}

.l-text-primary {
  color: var(--primary) !important;
}

.pagination-header {
  position: relative;
  height: 300px;
  background-image: url('https://kodesolution.com/html/2015/medinova-b5/images/bg/bg1.jpg');
  background-position: center !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-header .cover {
  z-index: 3;
  text-align: center;
}

.pagination-header .cover .title {
  margin-bottom: 1em;
}

.pagination-header .cover * {
  color: white;
}

.pagination-header .cover::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: .8;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border: 1px solid var(--border-2);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.admin .page-title {
  margin-bottom: 1em;
}

.admin .head-actions {
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 1em;
}

.admin .table .actions i {
  font-size: 18px;
}

.admin .table .actions i[class="bi bi-trash"] {
  color: red;
}

.admin .required::after {
  content: '*';
  color: red;
}

.admin .cover-wrapper {
  position: relative;
  overflow: hidden;
}

.admin .cover-wrapper .red-cover,
.admin .cover-wrapper .primary-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.admin .cover-wrapper:hover .red-cover,
.admin .cover-wrapper:hover .primary-cover {
  opacity: 1;
  visibility: visible;
}

.admin .cover-wrapper .red-cover::before,
.admin .cover-wrapper .primary-cover::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .6;
  z-index: -1;
}

.admin .cover-wrapper .red-cover::before {
  background-color: red;
}

.admin .cover-wrapper .primary-cover::before {
  background-color: var(--primary);
}

.admin .centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin .btn-primary {
  background-color: black !important;
  border: none;
}

.admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}